.paperTowns {
    background-color: #FFFFFF;
    width: 100%;
    height: 84px;
}

.selectTowns {
    width: 100%;
}

.customInput {
    height: 36px;
    border-color: #0F0F1033;
    border-width: 1px;
    background-color: #FFFFFF;
    font-weight: 400;
}

.customOption {
    border-radius: 4px;
}